# ملفات البيئة الافتراضية
venv/
env/

# ملفات قاعدة البيانات 
db.sqlite3

# ملفات الإعدادات المحلية لـ Django
*.log
*.pot
*.pyc
__pycache__

# مجلدات وملفات تحتوي على أسرار
.secret/

# ملفات لا تحتاج إلى رفع مثل الوسائط أو الملفات المؤقتة
media/
staticfiles/

# ملفات الـ IDE مثل VS Code أو PyCharm
.vscode/
.idea/

# ملفات GitHub Actions (إن كنت تستخدم CI/CD)
.github/

# ملفات مؤقتة أخرى قد تكون موجودة في المشروع
*.bak
*.swp
*.orig
